:root {
  --cell-size: 35px;
}

.cell {
  height: var(--cell-size);
  max-height: var(--cell-size);
  width: var(--cell-size);
  min-width: var(--cell-size);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  pointer-events: none;
}

.cell.null {
  background: black;
  border-color: black;
}

@keyframes pulse {
  0% {
    background: lightgoldenrodyellow;
  }
  100% {
    background: lightcyan;
  }
}
.cell.fill-in-the-blank {
  pointer-events: all;
  cursor: pointer;
  background: lightgoldenrodyellow;
  animation: pulse 1.5s infinite alternate ease-in-out;
}